.menu-header-container {
	ul {
		display: flex;
		padding: 0;
		justify-content: space-between;
		list-style: none;
			@media screen and (max-width: $breakpoint-sm) {
			flex-direction: column;
			height: 150px;
			margin-top: 35px;
		}

		li {
			a {
				text-transform: uppercase;
				font-size: 17px;
				text-decoration: none;
			}
		}
	}
}