.about-content {
  gap: 35px;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-md) {
    flex-direction: row;
  }

  img {
    width: 500px;
    flex-shrink: 0;
    object-fit: contain;
    align-self: flex-start;
    border-radius: 15px;
    margin: 0 auto 20px;

    @media screen and (min-width: $breakpoint-md) {
      margin: 60px 0 0;
    }

    @include boxShadow;
  }
}