.btn{
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    background-color: $darkGreen;
    color: $white;
    width: fit-content;
    border-radius: 25px;
    margin-top: 25px;
    text-decoration: none;
    transition: 0.3s;
    min-width: 125px;
    cursor: pointer;
    line-height: 16px;
    &:hover{
    background-color: $lightGreen;
    color: $white;
    }
}