$darkGreen: #6b705c;
$lightGreen: #a5a58d;
$pink: #ddbea9;
$beige: #cb997e;

$white: #ffffff;
$black: #212222;

$red: #df0024;
$gray: #E9E9E9;

$website-width: 1200px;

$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 450px;